@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  background-color: #f8f9f9;
  font-family: 'Lato',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.advokat-main-div {
  margin-left: 320px;
}

#naslov-advokati {
  margin-bottom: 70px;
  margin-top: 50px;
  margin-left: 740px;
  font-size: 50px;
  color: #6495ED;
}

.kontakt-forma-main-div {
  width: 650px;
  margin-left: 30px;
  margin-top: 30px;
}

#btn_save {
  margin-top: 20px;
  margin-left: 250px;
}

.kontaktirajte-nas-h2 {
  margin-left: 170px;
}